// define color

$primarycolor = {
  'white': #efefef,
  'lightgray': #dfdfdf,
  'gray': #bfbfbf,
  'darkgray': #666666,
  'green': #00b900,
  'darkgreen': #006b00,
  'lightgreen': #00d900,
  'verylightgreen': #edfff0,
  'red': #f94115,
  'orange': #f35833,
  'font': #212122//字段主要颜色，白色
}

$secondarycolor = {
  'white': #ffffff,
  'gray': #aaaaaa,
  'lightgray': #dddddd,
  'verylightgray': #ececec,
  'green': #009b00,
  'darkgreen': #004b00,
  'red': #733520,
  'font': #303034
}