// define color

$primarycolor = {
  'green': #00b900,
  'red': #f35833,
  'gray': #efefef,
  'font': #212122//字段主要颜色，白色
}

$secondarycolor = {
  'green': #00b900,
  'red': #733520,
  'gray': #ffffff,
  'font': #303034
}